/* COLORS */
h1 > span, h2 > span{
    color: #27A9E1;
}
#scannow_page, #login_page .recent-scans h2, #conference_page{
    color: #D1D2D4;
}
#scaninfo_page .form-part h2:first-letter,
#scannow_page .recent-scans h2:first-letter,
#conference_page .recent-scans h2:first-letter,
#scannow_page .recent-scans h2 span{
    color: #27A9E1;
}
#scaninfo_page, #scannow_page, #login_page, #chooseconference_page, #attendees_page, #conference_page, #attendeeslist_page {
    background: white;
}
#conference_page{
    background: #E6E7E8;
}
#conference_page div[role="main"].ui-content{
    background: white;
    padding-bottom: 0;
}
/* COLORS */


.blueline-block-wrapper h2{
    color: #D1D2D4;
    margin-bottom: 5px;
    margin-left: 23px;
}
.blueline-block-wrapper .blueline-block{
    background: #E6E7E8;
    border-top: 6px solid #27A9E1;
    padding: 10px 20px;
}


/* #scannow_page */
#scannow_page .scan-area {
    width: 70%;
    margin: 20px auto;
    outline: 0;
}
#scannow_page .scan-area:active .scan-corner{
    border-color: #1EBD1E;
}
#scannow_page .scan-area:active h1 > span{
    color: #1EBD1E;
}
#scannow_page .scan-area .scan-inner{
    position: relative;
    height: 100%;
    text-align: center;
    width: 100%;
}
#scannow_page .scan-area .scan-inner .scan-inside {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 150%;
}
#scannow_page .scan-area .scan-corner-lt,
#scannow_page .scan-area .scan-corner-rt,
#scannow_page .scan-area .scan-corner-lb,
#scannow_page .scan-area .scan-corner-rb{
    width: 20%;
    position: absolute;
    height: 20%;
}
#scannow_page .scan-area .scan-corner-lt{
    border-top: 4px solid #27A9E1;
    border-left: 4px solid #27A9E1;
    left: 5px;
    top: 5px;
}
#scannow_page .scan-area .scan-corner-rt{
    border-top: 4px solid #27A9E1;
    border-right: 4px solid #27A9E1;
    right: 5px;
    top: 5px;
}
#scannow_page .scan-area .scan-corner-lb{
    border-bottom: 4px solid #27A9E1;
    border-left: 4px solid #27A9E1;
    left: 5px;
    bottom: 5px;
}
#scannow_page .scan-area .scan-corner-rb{
    border-bottom: 4px solid #27A9E1;
    border-right: 4px solid #27A9E1;
    right: 5px;
    bottom: 5px;
}
/* #scannow_page */

/* #scaninfo_page */
#scaninfo_page [role="main"]{
    padding: 0;
}
#scaninfo_page [data-role="header"] h1{
    margin-top: 10px;
}
#scaninfo_page [data-role="header"] .email{
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 0px;
    color: grey;
}
#scaninfo_page .tags > ul > li{
    float: left;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 10px;
    background: rgb(44, 183, 248);
    color: white;
    border-radius: 5px;
}
#scaninfo_page [data-role="header"] > a{
    margin-top: 11px;
    margin-left: 5px;
}
#scaninfo_page .form-part {
    clear: both;
    margin-top: 60px;
}
#scaninfo_page .form-part .form-part-wrapper.tags-wrapper{
    width: 100%;
    float: left;
    margin-bottom: 60px;
}
#scaninfo_page .form-part .form-part-wrapper {
    background: #E6E7E8;
    border-top: 6px solid #27A9E1;
    padding: 10px 20px;
}
#scaninfo_page .form-part.first-form-part {
    margin-top: 0;
}
#scaninfo_page .rating .rating-select label.cold{
    /*padding-left: 40px;*/
    /*padding-right: 30px;*/
    color: #1B75BB;
    background:white;
}
#scaninfo_page .rating .rating-select label.hot{
    /*padding-left: 30px;*/
    /*padding-right: 50px;*/
    color: #EB5359;
    background:white;
}
#scaninfo_page .rating .rating-select label.warm{
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    color: #F7931D;
    background:white;
}
#scaninfo_page .rating .rating-select label.ui-btn-active{
    background: #38c;
}
#scaninfo_page .rating .rating-select label.cold.ui-btn-active{
    color: #A0D5FF;
}
#scaninfo_page .rating .ratingcheckbox{
    border: 0;
    background: transparent;
}
#scaninfo_page .form-part h2{   
    color: #D1D2D4;
    margin-bottom: 5px;
    margin-left: 23px;
}
/* #scaninfo_page */

/*login_page*/
#login_page div.text {
    margin-top: 90px;
}
#login_page div.button {
    margin-top: 20px;
}
/*login_page*/

/*chconf_page*/
#chooseconference_page div.main {
    padding: 5% 0 65% 0;
}
/*chconf_page*/

/*conference_page*/
#conference_page .stats-links{
    color: #333;
    margin-left: -1em;
    margin-right: -1em;
}
#conference_page table{
    width: 100%;
    padding: 0 1em;
}
#conference_page table.blueline-block td{
    padding: 6px 5px;
}
#conference_page td.right{
    text-align: right;
}
#conference_page div.attend{
    margin-top: 10%;
    margin-left: -1em;
    margin-right: -1em;
}
#conference_page div.attend > a{
    color: #38c;
    font-size: 22px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
#conference_page .scan-area {
    width: 70%;
    margin: 20px auto;
    outline: 0;
}
#conference_page .scan-area:active .scan-corner{
    border-color: #1EBD1E;
}
#conference_page .scan-area:active h1 > span{
    color: #1EBD1E;
}
#conference_page .scan-area .scan-inner{
    position: relative;
    height: 100%;
    text-align: center;
    width: 100%;
}
#conference_page .scan-area .scan-inner .scan-inside {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 150%;
}
#conference_page .scan-area .scan-corner-lt,
#conference_page .scan-area .scan-corner-rt,
#conference_page .scan-area .scan-corner-lb,
#conference_page .scan-area .scan-corner-rb{
    width: 20%;
    position: absolute;
    height: 20%;
}
#conference_page .scan-area .scan-corner-lt{
    border-top: 4px solid #27A9E1;
    border-left: 4px solid #27A9E1;
    left: 5px;
    top: 5px;
}
#conference_page .scan-area .scan-corner-rt{
    border-top: 4px solid #27A9E1;
    border-right: 4px solid #27A9E1;
    right: 5px;
    top: 5px;
}
#conference_page .scan-area .scan-corner-lb{
    border-bottom: 4px solid #27A9E1;
    border-left: 4px solid #27A9E1;
    left: 5px;
    bottom: 5px;
}
#conference_page .scan-area .scan-corner-rb{
    border-bottom: 4px solid #27A9E1;
    border-right: 4px solid #27A9E1;
    right: 5px;
    bottom: 5px;
}
/*conference_page*/

/*sortattend*/
#sortattend span.scanned {
    font-size: small!important;
}
#login_page div.ui-content h2:first-letter {
    color: #27A9E1;
}
#login_page div.ui-btn {
    background: #27A9E1!important;
    opacity: 1;
    color: #fff;
}


#scaninfo_page .notes [data-role="notes"]{
    min-height: 30px;
    height: 100%;
    overflow-y: scroll;
}
#scaninfo_page .notes [data-role="notes"] form{
    padding: 10% 0;
    height: 100%;
}
#scaninfo_page .notes [data-role="notes"] textarea{
    width: 100%;
    resize: vertical;
    display: none;
    min-height: 200px;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: gray;
}
#scaninfo_page .notes [data-role="notes"] button{
    display: none;
}
#scaninfo_page .notes [data-role="notes"] p{}
#scaninfo_page .notes .active[data-role="notes"]{}
#scaninfo_page .notes .active[data-role="notes"] textarea, #scaninfo_page .notes .active[data-role="notes"] button{
    display: initial;
}
#scaninfo_page .notes .active[data-role="notes"] p{
    display: none;
}
#scaninfo_page .tags .addtag{
    background: transparent;
    padding: 0;
    margin: 0;
}
#scaninfo_page .tags .addtag > div{
    margin: 0;
    top: -5px;
    display: none;
}
#scaninfo_page .tags .addtag .canceltagbut,
#scaninfo_page .tags .addtag .savetagbut{
    display: none;
}
#scaninfo_page .tags .addtag > button{
    top: -6px;
    padding: 2px;
    background: rgb(44, 183, 248);
    border-color: rgb(44, 183, 248);
}
#scaninfo_page .tags .addtag > button:after{
    background-color: rgb(44, 183, 248);
}

