<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.3.0" />

        <name>QR Conference</name>

        <description>
QR Conference Mobile application and backend for tracking conference attendees
that you speak to at an exhibition booth, when conference attendees have QR codes
on their conference badges. Built using PhoneGap, HTML5, jQuery Mobile, and SQLite.
        </description>

        <author href="https://www.genuitec.com" email="info@genuitec.com">
            Genuitec
        </author>
        
        <gap:plugin name="com.phonegap.plugins.barcodescanner"/>
        <gap:plugin name="org.apache.cordova.inappbrowser" />

        <feature name="http://api.phonegap.com/1.0/device" />
        
        <!-- to enable individual permissions use the following examples -->
        <feature name="http://api.phonegap.com/1.0/battery"/>
        <feature name="http://api.phonegap.com/1.0/camera"/>
        <feature name="http://api.phonegap.com/1.0/contacts"/>
        <feature name="http://api.phonegap.com/1.0/file"/>
        <feature name="http://api.phonegap.com/1.0/geolocation"/>
        <feature name="http://api.phonegap.com/1.0/media"/>
        <feature name="http://api.phonegap.com/1.0/network"/>
        <feature name="http://api.phonegap.com/1.0/notification"/>

        <icon src="icon.png" />

        <icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
        <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
        <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />

        <icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />

        <icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
        <icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
        <icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
        <icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
        
        <access origin="*" subdomains="true"/>
        
    </widget>